body {
  margin: 0;
}

header {
  display: flex;
  width: 375px;
  height: 88px;
  background-color: #fafafa;
  align-items: end;
}

/* header 부분 */
/* header 부분 */
/* header 부분 */

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.search-bar {
  position: relative;
  padding-bottom: 15px;
}

.search-bar-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 3px 0 0 5px;
  color: gray;
}

.explore-search-bar {
  width: 320px;
  height: 30px;
  padding-left: 32px;
  background-color: rgb(228, 228, 228);
  border: 0px solid;
  border-radius: 6px;
}

.explore-search-bar:focus {
  border: 1px solid gray;
  outline: none;
}

.relative-box {
  position: relative;
}

.absolute-box {
  position: absolute;
  top: 0px;
}

.explore-search-button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

/* post 부분 */
/* post 부분 */
/* post 부분 */

.main-content {
  padding-top: 1px;
}

.explore-post-feed {
  width: 375px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  grid-auto-rows: 124.34px;
}

.explore-post-image img {
  max-width: 100%;
}
