body {
  margin: 0;
}

.background {
  margin: 0;
  width: 375px;
  height: 812px;
  background-color: black;
  position: relative;
}

.back-to-main {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 16px 0 0;
  color: white;
  font-size: 25px;
  text-decoration: none;
}
