body {
  margin: 0;
}

.background {
  margin: 0;
  width: 375px;
  height: 812px;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.back-to-main {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 16px 0 0;
  color: white;
  font-size: 25px;
  text-decoration: none;
  z-index: 5;
}

.chat-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 101px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 59, 59);
}

.chat-bar img {
  width: 24px;
}

.write-message-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 165px 6px 5px;
  margin-left: 8px;
  margin-right: 3px;
  border: 1px solid white;
  border-radius: 20px;
}

.message-text {
  font-size: 15px;
}

.story-airplane-icon img {
  padding: 4px;
}

.meatball-icon img {
  padding: 4px;
}

.story-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 101px;
  object-fit: contain;
  width: 100%;
  height: calc(100% - 101px);
}
